{% extends "base.html" %}

{% block content %}
  <h1 class="mt-3">Adicionar Livro</h1>
  {% if mensagem %}
    <div class="alert alert-success" role="alert">
      {{ mensagem }}
    </div>
  {% endif %}
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="text-capitalize">
      {{ form.titulo.label(class="form-label") }}
      {{ form.titulo(class="form-control") }}
    </div>
    <div class="mb-3 form-group">
      <label for="autor_id" class="form-label">Autor</label>
      <select name="autor_id" id="autor_id" class="form-control">
        {% for autor_id, autor_nome in form.autor_id.choices %}
          <option value="{{ autor_id }}">{{ autor_nome }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3 form-group">
      {{ form.ano_publicacao.label(class="form-label") }}
      {{ form.ano_publicacao(class="form-control") }}
    </div>
    <div class="mb-3 form-group">
      <label for="genero_id" class="form-label">Gênero</label>
      <select name="genero_id" id="genero_id" class="form-control">
        {% for genero_id, genero_nome in form.genero_id.choices %}
          <option value="{{ genero_id }}">{{ genero_nome }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3 form-group">
      <label for="foto" class="form-label">Foto do Livro</label>
      <input type="file" name="foto" id="foto" class="form-control">
      {% if form.titulo.data %}
        <img src="{{ url_for('static', filename='images/' ~ form.titulo.data|replace(' ', '_') ~ '.png') }}" class="capaimg" alt="Capa do Livro">
      {% endif %}
    </div>
    <div class="mb-3 form-group form-check">
      {{ form.disponivel(class="form-check-input") }}
      {{ form.disponivel.label(class="form-check-label") }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
{% endblock %}
