{% extends "base.html" %}

{% block content %}
  <h1 class="mt-3">Livros</h1>
  <a href="{{ url_for('adicionar_livro') }}" class="btn btn-primary mb-3">Adicionar Livro</a>
  
  <!-- Formulário de Pesquisa -->
  <form class="form-inline mb-3" action="{{ url_for('listar_livros') }}" method="get">
    <div class="input-group">
      <input class="form-control DocSearch DocSearch-Button rounded me-1" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name="search">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </div>
    </div>
  </form>
  
  <div class="row">
    {% for livro in livros %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ url_for('static', filename='images/' ~ livro.url_da_capa) }}" alt="{{ livro.titulo }}" class="card-img-top capaimg">
          <div class="card-body">
            <h5 class="card-title">{{ livro.titulo }}</h5>
            <p class="card-text">Autor: {% if livro.autor %}{{ livro.autor.nome }}{% else %}Autor não definido{% endif %}</p>
            <p class="card-text">Gênero: {% if livro.genero %}{{ livro.genero.nome }}{% else %}Gênero não definido{% endif %}</p>
            <p class="card-text">Ano de Publicação: {{ livro.ano_publicacao }}</p>
            <p class="card-text">{% if livro.disponivel %}Disponível{% else %}Indisponível{% endif %}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ url_for('editar_livro', livro_id=livro.id) }}" class="btn btn-sm btn-outline-primary me-1 rounded">Editar</a>
                <form action="{{ url_for('excluir_livro', livro_id=livro.id) }}" method="post" style="display:inline;">
                  <button type="submit" class="btn btn-sm btn-outline-danger rounded" onclick="return confirm('Tem certeza que deseja excluir este livro?')">Excluir</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
