{% extends "base.html" %}

{% block content %}
  <h1 class="mt-3">Detalhes do Livro</h1>
  <p><strong>Título:</strong> {{ livro.titulo }}</p>
  <p><strong>Autor:</strong> {{ livro.autor.nome }}</p>
  <p><strong>Ano de Publicação:</strong> {{ livro.ano_publicacao }}</p>
  <p><strong>Gênero:</strong> {{ livro.genero }}</p>
  <p><strong>Disponível:</strong> {% if livro.disponivel %}Sim{% else %}Não{% endif %}</p>
  <a href="{{ url_for('atualizar_livro', livro_id=livro.id) }}" class="btn btn-primary">Atualizar</a>
  <form method="post" action="{{ url_for('excluir_livro', livro_id=livro.id) }}" style="display: inline;">
    <button type="submit" class="btn btn-danger">Excluir</button>
  </form>
{% endblock %}
